<section id="experience" class="py-20">
    <div class="container mx-auto px-6">
        <h2 class="text-3xl font-bold text-slate-900 mb-12 text-center">Trayectoria Profesional</h2>
        
        <div class="relative max-w-3xl mx-auto">
            
            <div class="absolute left-1/2 -translate-x-1/2 h-full w-0.5 bg-slate-300"></div>

            <div class="relative mb-8 flex justify-between items-start w-full">
                <div class="order-1 w-5/12"></div>
                <div class="z-10 flex items-center order-1 bg-blue-600 shadow-xl w-8 h-8 rounded-full">
                    <h1 class="mx-auto font-semibold text-lg text-white">1</h1>
                </div>
                <div class="order-1 bg-white rounded-lg shadow-xl w-5/12 px-6 py-4">
                    
                    <h3 class="font-bold text-lg text-slate-900">Electronic Cats</h3>
                    <p class="text-sm text-slate-500 mb-3">jul. 2023 - Presente | Aguascalientes, México</p>
                    
                    <hr class="my-3 border-slate-200">

                    <div class="mb-3">
                        <h4 class="font-semibold text-md text-slate-800">Embedded Systems Engineer</h4>
                        <p class="text-xs font-medium text-slate-500 mb-2">ene. 2024 - Presente</p>
                        <ul class="list-disc list-outside text-sm text-slate-600 pl-4">
                            <li>Diseñé y desarrollé productos IoT para seguimiento de activos, telemetría y gestión de energía.</li>
                            <li>Lideré equipos multifuncionales para asegurar la integración fluida de hardware y firmware.</li>
                        </ul>
                    </div>

                    <div>
                        <h4 class="font-semibold text-md text-slate-800">Technical Support Engineer</h4>
                        <p class="text-xs font-medium text-slate-500 mb-2">jul. 2023 - dic. 2023</p>
                        <ul class="list-disc list-outside text-sm text-slate-600 pl-4">
                            <li>Brindé soporte para sistemas embebidos y depuré firmware.</li>
                        </ul>
                    </div>
                </div>
            </div>

	   <div class="relative mb-8 flex justify-between items-start w-full flex-row-reverse">
                <div class="order-1 w-5/12"></div>
                <div class="z-10 flex items-center order-1 bg-blue-600 shadow-xl w-8 h-8 rounded-full">
                    <h1 class="mx-auto font-semibold text-lg text-white">2</h1>
                </div>
                <div class="order-1 bg-white rounded-lg shadow-xl w-5/12 px-6 py-4">
                    
                    <h3 class="font-bold text-lg text-slate-900">Robotics and Design</h3>
                    <p class="text-sm text-slate-500 mb-3">Laboratorio de Proyectos Personales</p>
                    
                    <hr class="my-3 border-slate-200">

                    <div class="mb-3">
                        <h4 class="font-semibold text-md text-slate-800">Fase II: Laboratorio de I+D y Aplicación (Maestría)</h4>
                        <p class="text-xs font-medium text-slate-500 mb-2">sep. 2025 - Presente</p>
                        <ul class="list-disc list-outside text-sm text-slate-600 pl-4">
                            <li>Uso de la marca como un <strong>laboratorio personal</strong> para aplicar conceptos avanzados de la Maestría en Control Automático.</li>
                            <li><strong>Experimentación y desarrollo</strong> de nuevas tecnologías, incluyendo herramientas de IA como chatbots asistentes.</li>
                            <li>Creación de contenido técnico (blog, videos) para documentar proyectos y compartir conocimiento.</li>
                        </ul>
                    </div>

                    <div>
                        <h4 class="font-semibold text-md text-slate-800">Fase I: Emprendimiento Educativo (Ingeniería)</h4>
                        <p class="text-xs font-medium text-slate-500 mb-2">sep. 2017 - mar. 2020</p>
                        <ul class="list-disc list-outside text-sm text-slate-600 pl-4">
                            <li>Fundación del proyecto para financiar estudios de ingeniería.</li>
                            <li>Impartición de talleres presenciales de electrónica, <strong>Arduino y robótica</strong>, como "Electrónica Básica y Arduino" y "Mi Primer Vehículo RC".</li>
                            <li>Diseño y venta de kits de robótica educativa.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="relative mb-8 flex justify-between items-start w-full">
                <div class="order-1 w-5/12"></div>
                <div class="z-10 flex items-center order-1 bg-blue-600 shadow-xl w-8 h-8 rounded-full">
                    <h1 class="mx-auto font-semibold text-lg text-white">3</h1>
                </div>
                <div class="order-1 bg-white rounded-lg shadow-xl w-5/12 px-6 py-4">
                    <h3 class="font-bold text-lg text-slate-900">Telemetry Engineer and Telemetry Analyst</h3>
                    <p class="text-sm text-slate-500 mb-2">SSClick | nov. 2022 - jul. 2023 | Michoacán, México</p>
                    <ul class="list-disc list-outside text-sm text-slate-600 pl-4 mt-2">
                        <li>Desarrollé productos IoT enfocados en telemetría y automatización de sistemas de suministro de agua.</li>
                        <li>Diseñé placas electrónicas e implementé firmware para monitoreo en tiempo real.</li>
                    </ul>
                </div>
            </div>

            <div class="relative mb-8 flex justify-between items-start w-full flex-row-reverse">
                <div class="order-1 w-5/12"></div>
                <div class="z-10 flex items-center order-1 bg-blue-600 shadow-xl w-8 h-8 rounded-full">
                    <h1 class="mx-auto font-semibold text-lg text-white">4</h1>
                </div>
                <div class="order-1 bg-white rounded-lg shadow-xl w-5/12 px-6 py-4">
                    <h3 class="font-bold text-lg text-slate-900">Hyperactive Lab</h3>
                    <p class="text-sm text-slate-500 mb-3">jul. 2020 - ene. 2023 | Michoacán, México</p>

                    <hr class="my-3 border-slate-200">

                    <div class="mb-3">
                        <h4 class="font-semibold text-md text-slate-800">Team Leader & Embedded Systems Engineer</h4>
                        <p class="text-xs font-medium text-slate-500 mb-2">jun. 2021 - ene. 2023</p>
                        <ul class="list-disc list-outside text-sm text-slate-600 pl-4">
                            <li>Lideré un equipo para diseñar un Juego de Vehículos RC 5v5 y un Brazo Robótico Mímico de 4-DOF.</li>
                        </ul>
                    </div>

                    <div>
                        <h4 class="font-semibold text-md text-slate-800">Embedded Software Developer</h4>
                        <p class="text-xs font-medium text-slate-500 mb-2">jul. 2020 - may. 2021</p>
                        <ul class="list-disc list-outside text-sm text-slate-600 pl-4">
                            <li>Asistí en el desarrollo de una interfaz de usuario con Python.</li>
                        </ul>
                    </div>
                </div>
            </div>

	    <div class="relative mb-8 flex justify-between items-start w-full">
                <div class="order-1 w-5/12"></div>
                <div class="z-10 flex items-center order-1 bg-blue-600 shadow-xl w-8 h-8 rounded-full">
                    <h1 class="mx-auto font-semibold text-lg text-white">5</h1>
                </div>
                
                <div class="order-1 bg-white rounded-lg shadow-xl w-5/12 px-6 py-4">
                    <h3 class="font-bold text-lg text-slate-900">Educación</h3>
                    
                    <div class="mt-3">
                        <h4 class="font-semibold text-md text-slate-800">Maestría en Ciencias en Ingeniería Eléctrica</h4>
                        <p class="text-xs font-medium text-slate-600 mb-1">(Especialidad en Sistemas de Control Automático)</p>
                        <p class="text-sm text-slate-500 mb-2">Universidad Michoacana de San Nicolás de Hidalgo | sep. 2025 - Presente | <strong>Morelia, Mich., México</strong></p>
                    </div>

                    <hr class="my-3 border-slate-200"> 

                    <div class="mt-3">
                        <h4 class="font-semibold text-md text-slate-800">Ingeniería Mecatrónica</h4>
                        <p class="text-sm text-slate-500 mb-2">Instituto Tecnológico de Morelia | 2016 - 2021 | <strong>Morelia, Mich., México</strong></p>
                    </div>

                    <div class="mt-3">
                        <h4 class="font-semibold text-md text-slate-800">Técnico en Instrumentación Industrial</h4>
                        <p class="text-sm text-slate-500 mb-2">Cecytem 05 | 2013 - 2016 | <strong>Lázaro Cárdenas, Mich., México</strong></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
